body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    position: absolute;
    top: 50%;
    height: 30px;
    border: 2px solid brown;
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 0);
    color: brown;
    cursor: pointer;
}